# compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
PyApso.egg-info/
venv/
.env/
.venv/
ENV/
env/
.vscode/
.github

# Distribution / packaging
build/
dist/
*.egg-info/


.ipynb_checkpoints/
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.coverage
.cache/
.tox/
.pytest_cache/